<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- Видалено некоректні meta-data -->
        <!-- Якщо вам потрібні App Actions, використовуйте правильний ресурс (JSON) -->
        <!--
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@json/app_actions" />
        -->

        <!-- Оголошення лише активностей -->
        <activity android:name=".ui.ExerciseDetailActivity" />
        <activity android:name=".CreateWorkoutActivity" />
        <activity android:name=".StartWorkoutActivity" />
        <activity android:name=".WorkoutDetailsActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".ProgramsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WorkoutHistoryActivity" />
        <activity android:name=".AddExerciseActivity" />
        <activity android:name=".StatisticsActivity" />
        <!-- Видалено WorkoutAdapter та WorkoutReminderWorker -->
        <activity android:name=".SettingsActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
